.App-header {
    background-color: rgb(202, 234, 230);
    min-height: 100vh;
    display: flex;
    font-size: calc(10px + 2vmin);
    color: white;
    height: auto;
  }
  .left{
    float: left;
    width: 20%;
    background: white;
    height: auto;
    
  }
  .right{
    float: right;
    width: 80%;
    height: auto;
  }
  .Card{
    display: grid;
    grid-template-columns: 0fr 0fr;
    column-gap: 60px;
    row-gap: 20px;
    padding: 0px 136px;
  }
  a{
    text-decoration: none;
  }